.form-control {}

.form-head {
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 5px;
}

.form-control {
  margin-left: 5px;
  border-width: 0px;

  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.field {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
  border-radius: 5px;
}

.field:hover {
  transform: translate(0, -3px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.form-group {
  border-radius: 5px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}